@import "./abstract/constants";
@import "./abstract/mixin";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik';
    color: #333333;
}

body {
    min-height: 100vh;
}

button {
    border: none;
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.base-wrapper {
    max-width: $content-width;
    margin: 0 auto;
    padding: 0 130px;
    @include media-laptop {
        max-width: $tablet-width;
        padding: 0 60px;
    }
    @include media-tablet {
        max-width: $mobile-width;
        padding: 0 20px;
    }
}

.input-inlet {
    width: 100%;
    border: none;
    border-bottom: 1px solid #333333;
    height: 25px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    &::placeholder{
        font-weight: normal;
        color: #828282;
    }
}

