.channel-item {
    width: calc(100% - 10px);
    background-color: #F2F2F2;
    border-radius: 8px;
    margin-bottom: 16px;
    &:last-child {
        margin-bottom: 0px;
    }
    display: flex;
}

.channel-ico {
    display: flex;
    width: 400px;
    align-items: center;
    justify-content: center;
    @include media-laptop {
        width: 200px;
    }
    @include media-tablet {
        width: 100px;
        &>a>img {
            object-fit: contain;
            width: 50px;
            height: 50px;
        }
    }
    @include media-mobile {
        display: none;
    }
}

.channel-description {
    padding: 20px 0;
    @include media-mobile {
        padding: 20px;
    }
}

.channel-title {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 17px;
}

.telecasts-item {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 12px;
    &:last-child {
        margin-bottom: 0px;
    }
    &:first-child>span {
        color: $red;
    }
    &_time {
        margin-right: 16px;
    }
    @include media-laptop {
        font-size: 14px;
    }
    @include media-tablet {
        font-size: 12px;
    }
}

