@import "../abstract/constants";
@import "../abstract/mixin";


.footer {
    background-color: #F2F2F2;
    width: 100%;
}

.wrapper {
    display: flex;
    align-items: center;
    padding: 28px 130px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    @include media-tablet {
        padding: 28px 55px;
    }
    @include media-mobile {
        font-size: 10px;
        padding: 28px 80px;
    }
}

.logo {
    display: inline-block;
    background-image: url(../../assets/icon/footer-logo.png);
    width: 32px;
    height: 64px;
    margin-right: 40px;
    @include media-tablet {
        display: none;
    }
}

.info {
    display: flex;
    flex-direction: column;
    &>span:last-child>a {
        font-weight: 500;
        color: $htc-color;
    }
}