@import "../abstract/constants";
@import "../abstract/mixin";

.header {
    width: 100%;
}

.hidden {
    display: none;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    margin-bottom: 41px;
    @include media-tablet {
        flex-direction: column;
        margin-bottom: 150px;
        &> *{
            margin-bottom: 40px;
        }
    }
}

.search_group {
    width: 402px;
    display: flex;
    justify-content: space-between;
    @include media-mobile {
        width: 282px;
    }
}

.search_input {
    width: calc(100% - 70px);
}

.search_button {
    color: $red;
    width: 50px;
    background-color: transparent;
}


.username_group {
    display: flex;
    align-items: center;
    width: 182px;
    position: relative;
}

.sign_in_button {
    position: absolute;
    right: 0;
    width: 113px;
    height: 38px;
    background-color: $red;
    border-radius: 4px;
    color: #fff;
    &:hover {  
        background-color: #CC221B;
    }
    @include media-tablet {
        right: 35px;
    }
}

.sign_out_button {
    position: absolute;
    right: 0;
    width: 52px;
    color: $red;
    background-color: transparent;
}

.username_input {
    width: 130px;
}

.username_text {
    width: 130px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}