@import "../abstract/constants";
@import "../abstract/mixin";


.main {
    width: 100%;
    margin-bottom: 64px;
}

.tabs_container {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}

.tabs_list {
    display: flex;
    margin-left: 25px;
}

.tab_item {
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    color: #333333;
    margin-right: 24px;
    height: 42px;
    cursor: pointer;
    @include media-mobile {
        font-size: 22px;
    };
}

.tab_item_active {
    @extend .tab_item;
    color: $red;
    border-bottom: 2px solid $red;
}
