* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik';
  color: #333333;
}

body {
  min-height: 100vh;
}

button {
  border: none;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

a {
  text-decoration: none;
}

.input-inlet {
  width: 100%;
  border: none;
  border-bottom: 1px solid #333333;
  height: 25px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  &::placeholder{
      font-weight: normal;
      color: #828282;
  }
}